html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  font-family: sans-serif;
  margin: 0;
  min-height: 500vh;
  
}
.box-scroll{
  position: fixed;
  width: var(--box-width);
  height: 50px;
  background-color: red;
}
.scroll-count{
  position: fixed;
}
button{
  margin-top: 100px;
}
.box-mouse{
  position: fixed;
  top: var(--top);
  left: var(--left);
  width: 20px;
  height: 20px;
  background-color: red;
  pointer-events: none;
}